{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Élèves du group {{ group.getName() }}</h1>
    </div>
    <div class="panel-body">
        <table class="table">
        {% set periodeId = periode.getId() %}
            
        {% for eleve in eleves %}
            {% set eleveId = eleve.getId() %}
            <tr>
                <td>
                    <a href="{{ path ('laurentBulletinEditEleve', {'periode' : periodeId, 'eleve' : eleveId}) }}">
                        {{ eleve.getFirstName() }} {{ eleve.getLastName() }}
                    </a>
                </td>
                <td>
                    <a href="{{ path ('laurentBulletinPrintEleve', {'periode' : periodeId, 'eleve' : eleveId}) }}">
                        Voir Bulletin officiel
                    </a>
                </td>
                <td>
                    <a href="{{ path('laurentBulletinPrintElevePdf', {'periode' : periodeId, 'user' : eleveId}) }}">
                        Imprimer le bulletin
                    </a>
                </td>
                <td>
                    <a href="{{ path ('laurentBulletinShowEleveDataChart', {'eleve' : eleveId}) }}">
                        Évolution
                    </a>
                </td>
                
                {% if periode.getOnlyPoint() %}
                    <td>
                        <a href="{{ path ('laurentBulletinUserDecisionsList', {'user' : eleveId, 'periode': periodeId}) }}">
                            Décisions
                            {% if decisions[eleveId] is defined %}
                                <span class="badge">{{ decisions[eleveId] }}</span>
                            {% endif %}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}