{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Élèves du group {{ group.getName() }}</h1>
    </div>
    <div class="panel-body">
        <table class="table">
        {% for eleve in eleves %}
            <tr>
                <td><a href="{{ path ('laurentBulletinEditEleve', {'periode' : periode.id(), 'eleve' : eleve.id()}) }}">{{ eleve.getFirstName() }} {{ eleve.getLastName() }}</a> </td>
                <td><a href="{{ path ('laurentBulletinPrintEleve', {'periode' : periode.id(), 'eleve' : eleve.id()}) }}">Voir Bulletin officiel</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}