{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>
            Décisions pour {{ user.getFirstName() }} {{ user.getLastName() }}
            <small>({{ periode.getName() }})</small>
        </h1>
    </div>
    <div class="panel-body">
        {% if userDecisions|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    {% for userDecision in userDecisions %}
                        {% set decision = userDecision.getDecision() %}
                        {% set matieres = userDecision.getMatieres() %}
                        <tr>
                            <td>
                                {{ decision.getContent() }}
                                
                                {% if matieres|length > 0 %}
                                    {% for matiere in matieres %}
                                        {{ matiere.getOfficialName() }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <span class="btn btn-default edit-decision-btn"
                                      data-decision-id="{{ userDecision.getId() }}"
                                >
                                    <i class="fa fa-edit"></i>
                                </span>
                                <span class="btn btn-danger delete-decision-btn"
                                      data-decision-id="{{ userDecision.getId() }}"
                                >
                                    <i class="fa fa-trash">
                                    </i>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Aucune décision
            </div>
        {% endif %}
        <br>
        <span class="btn btn-primary"
              id="decision-add-btn"
              data-user-id="{{ user.getId() }}"
              data-periode-id="{{ periode.getId() }}"
        >
            <i class="fa fa-plus-circle"></i>
            Ajouter une décision
        </span>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/laurentbulletin/js/userDecisionsList.js') }}'
            type="text/javascript">
    </script>
{% endblock %} 