<!DOCTYPE html>
<html lang="fr" moznomarginboxes mozdisallowselectionprint>
<head>
    <meta charset="utf-8">
    <title>Bulletin</title>
    <link rel="stylesheet" href="{{ asset('bundles/laurentbulletin/css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{ asset('bundles/laurentbulletin/css/bulletin.css')}}"/>
    <script type="text/javascript" src='{{ asset('bundles/frontend/jquery/jquery-2.1.0.min.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/laurentbulletin/js/bootstrap.js') }}'></script>
    <script type="text/javascript" src='{{ asset('bundles/laurentbulletin/js/bulletinPrint.js') }}'></script>
</head>
<body>
<div class="container" id="content">
    <div class="row">
        <div class="col-xs-3"><img src="http://www.fransfischer.be/logoFFnb.png" height="130px"></div>
        <div class="col-xs-7" id="title-box">
            <h1>Bulletin</h1>
            <h1><small>{{ periode.getName() }}</small></h1>
        </div>
        <div class="col-xs-2" id="NomEleve">
            2014-2015<br>
            {{ eleve.getLastName() }}<br>
            {{ eleve.getFirstName() }}
        </div>
    </div> <!-- /row -->

    <div class="row">
        <table id="TableauRes" class="table table-bordered">
            <thead>
                <tr>
                    <th>Intitulé matière</th>
                    <th class="center">Point</th>
                    <th class="center">Total</th>
                    <th class="center">%</th>
                    <th class="center">Récapitulatif</th>
                </tr>
            </thead>
            <tbody>
            {% set periodeId = periode.getId() %}
                
            {% for key, pemp in pemps %}
                {% if pemp.point == 999 %}
                    <tr>
                        <td>
                            {{ pemp.matiere.getOfficialName() }}
                        </td>
                        <td colspan="3" class="center">
                            Non évalué
                        </td>
                        <td class="center{% if totauxMatieres[key] < 50%} echec {% endif %}">
                            {{ totauxMatieres[key] }} %
                        </td>
                    </tr>
                {% elseif pemp.point == 111 %}
                    <tr>
                        <td>
                            {{ pemp.matiere.getOfficialName() }}
                        </td>
                        <td colspan="3" class="center">
                            Certificat médical
                        </td>
                        <td class="center{% if totauxMatieres[key] < 50%} echec {% endif %}">
                            {{ totauxMatieres[key] }} %
                        </td>
                    </tr>
                {% elseif pemp.point == 888 %}
                    <tr>
                        <td>
                            {{ pemp.matiere.getOfficialName() }}
                        </td>
                        <td colspan="3" class="center">
                            Certificat médical
                        </td>
                        <td class="center{% if totauxMatieres[key] < 50%} echec {% endif %}">
                            {{ totauxMatieres[key] }} %
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            {{ pemp.matiere.getOfficialName() }}
                        </td>
                        <td class="center point{% if pemp.getDisplayPourcentage() < 50%} echec {% endif %}">
                            {{ pemp.getPoint() }}
                        </td>
                        <td class="center total{% if pemp.getDisplayPourcentage() < 50%} echec {% endif %}">
                            {{ pemp.getTotal() }}
                        </td>
                        <td class="center{% if pemp.getDisplayPourcentage() < 50%} echec {% endif %}">
                            {{ pemp.getDisplayPourcentage() }}
                        </td>
                        <td class="center{% if totauxMatieres[key] < 50%} echec {% endif %}">
                            {{ totauxMatieres[key] }} %
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>Total</th>
                    <th class="center{% if totaux[periodeId].totalPourcentage < 50%} echec {% endif %}">
                        {{ totaux[periodeId].totalPoint }}
                    </th>
                    <th class="center{% if totaux[periodeId].totalPourcentage < 50%} echec {% endif %}">
                        {{ totaux[periodeId].totalTotal }}
                    </th>
                    <th class="center{% if totaux[periodeId].totalPourcentage < 50%} echec {% endif %}" >
                        {{ totaux[periodeId].totalPourcentage }}
                    </th>
                    <th class="center{% if recap < 50%} echec {% endif %}">
                        {{ recap }} %
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 exam" id="remarque">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Décision du conseil de classe
                </div>
                <div class="panel-body">
                    {% if userDecisions|length > 0 %}
                        <ul>
                            {% for userDecision in userDecisions %}
                                {% set decision = userDecision.getDecision() %}
                                {% set matieres = userDecision.getMatieres() %}
                                <li>
                                    {{ decision.getContent() }}

                                    {% if decision.getWithMatiere() and matieres|length > 0 %}
                                        {% for matiere in matieres %}
                                            {{ matiere.getOfficialName() }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 signature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Signature du directeur
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-xs-3 signature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Signature du titulaire
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-xs-3 signature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Signature de l'élève
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-xs-3 signature">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Signature des parents
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>